@font-face {
    font-family: neueHaas;
    src: url(./assets/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neueHaas-light;
    src: url('./assets/NeueHaasDisplayLight.ttf');
}

html {
    min-width: 550px;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.loader{
    width: 100%;
    height: 100%;
    background-color:black;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader h1{
    font-size: 5vw;
    font-family: 'neueHaas';
color:transparent;
position: absolute;
background: linear-gradient(to right , orange,orangered);
-webkit-background-clip: text;
opacity: 0;
animation-name: load-1;
animation-duration: 1s;
animation-delay: 1s;
animation-timing-function: linear;
}


.loader h1:nth-child(2){
   animation-delay: 2s;
}

.loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load-1 {
    0%{opacity: 0;}
    10%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}

.full-scr {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: -100%;
    background-color: #20202098;
    z-index: 10;
    transition: all ease 0.8s;
}

.full-div {
    height: 40%;
    width: 100%;
    background-color: rgb(238, 234, 226);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    transition: all ease 0.8s;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 8vw;
    padding-bottom: 8vw;
}

.full-div h4 {
    font-family: 'neueHaas';
    font-size: 4rem;
    line-height: 1em;
    font-weight: 300;
    cursor: pointer;
}

.main {
    z-index: 10;
    position: relative;
}

.page-1 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(238, 234, 226);
    /* position: relative; */
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
}

.navBar {
    padding: 2vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vw;
    margin-bottom: 0;
    white-space: normal;
    position: relative;
    z-index: 99;
}

.navBar h3 {

    padding: 10px 20px;
    border: 0.5px solid rgba(72, 72, 72, 0.676);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-family: 'neueHaas-light';
    font-weight: 700;
    display: block;
    color: #3f3f3f;
    display: none;
}

.navBar .navData {
    display: flex;
    align-items: center;
    gap: 1vw;
}


.navBar .navData h4 {
    padding: 10px 20px;
    border: 0.5px solid rgba(72, 72, 72, 0.676);
    border-radius: 50px;
    font-size: 15px;
    /* font-weight: 500; */
    transition: all ease-in-out 0.4s;
    position: relative;
    overflow: hidden;
    font-family: 'neueHaas-light';
    font-weight: 700;
}

.navBar .navData h4 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.653);
    z-index: 9;
    position: relative;
}


.navBar .navData h4::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.navBar .navData h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.navBar .navData h4:hover a {
    color: white;
}

.container {
    padding: 30px;
    white-space: normal;
    height: 65vh;
    width: 100%;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'neueHaas';
    border-bottom: 1px solid rgba(90, 89, 89, 0.527);
    padding-bottom: 4vw;

}

#left p {
    font-size: 2vw;
    width: 30vw;
    line-height: 1em;
}

#right h1 {
    text-transform: uppercase;
    font-size: 10vw;
    line-height: 1em;
    text-align: right;
}

.video {
    /* position: absolute; */
    width: 100%;
    border: none;
    margin-top: 0;
    /* padding-top: 2vw; */
    padding: 2vw 1vw;
}

.video video {
    position: relative;
    width: 100%;
    border-radius: 20px;

}


.animeContainer {
    position: absolute;
    width: 45vw;
    height: 37vh;
    right: 0;
    top: 70vh;
}

.animeEle {
    position: absolute;
    /* position: absolute; */
    background-color: #FF390D;
    filter: blur(30px);
}

#animeEle1 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

#animeEle2 {
    background: linear-gradient(#FF390D, #ff5e0d);
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    animation-name: anime1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#animeEle3 {
    background: linear-gradient(#FF390D, #ff5e0d);
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    animation-name: anime2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime2 {
    from {
        transform: translate(55%, -5%);
    }

    to {
        transform: translate(0%, -10%);
    }
}

@keyframes anime1 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

.page-2 {
    height: auto;
    width: 100%;
    background-color: rgb(238, 234, 226);
    padding: 3vw 0;
    position: relative;
}

.moving-text {
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none;
}


.page-2 .moving-text::-webkit-scrollbar {
    display: none;
}

.text {
    white-space: nowrap;
    display: inline-block;
    animation-name: moveitem;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.text h1 {
    font-size: 9vw;
    font-family: 'neueHaas';
    display: inline-block;
    text-transform: uppercase;
}

#point {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #FF390D;
    display: inline-block;
    margin: 2vw;
}

@keyframes moveitem {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.info-container {
    margin: 6vw 0;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
}

.info-container .info-h1 {
    z-index: 3;
    width: 70%;
    max-width: 51.45em;
    position: relative;
}

.info-container .info-h1 h1 {
    color: #0b0500;
    font-size: 4vw;
    font-weight: 500;
    line-height: 1;
    font-family: 'neueHaas';
}

.info-container .info-image {
    z-index: 5;
    width: 25%;
    max-width: 18em;
    grid-column-gap: 3em;
    grid-row-gap: 3em;
    flex-direction: column;
    margin-top: 8.75em;
    display: flex;
    position: relative;
}

.info-image img {
    border-radius: 5px;
}

.info-image p {
    font-family: 'neueHaas';
    font-size: 16px;
}

.goal-anime {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    /* right: 50px; */
    top: 50%;
    left: 25%;

}

#goal-anime-1 {
    width: 100%;
    height: 100%;
    background-color: #FF390D;
    border-radius: 50%;
    position: absolute;
    filter: blur(25px);
    animation-name: goalAnime-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#goal-anime-2 {
    width: 20vw;
    height: 20vw;
    background: linear-gradient(to top right, #FF390D, #f46c16);
    border-radius: 50%;
    position: absolute;
    filter: blur(45px);
    animation-name: goalAnime-1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes goalAnime-1 {
    from {
        transform: translate(20%, 20%);

    }

    to {
        transform: translate(40%, -25%);
    }
}

@keyframes goalAnime-2 {
    from {
        transform: translate(-10%, 10%) skew(0);
    }

    to {
        transform: translate(10%, -10%) skew(-12deg);
    }
}


.page-3 {
    width: 100%;
    height: auto;
    /* height: 100%; */
    background-color: rgb(238, 234, 226);
    /* position: relative; */
}

.feature-container {
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
    /* position: relative; */
}

.feature-heading {
    white-space: nowrap;
    padding: 4vw 2vw;
}

.feature-heading .heading-dot {
    width: 10px;
    height: 10px;
    margin: 3px 2px;
    border-radius: 50%;
    background-color: #ff5e0d;
    display: inline-block;
}

.feature-heading h2 {
    display: inline-block;
    font-size: 22px;
    font-weight: lighter;
    font-family: 'neueHaas-light';
}

.feature-elem {
    padding: 1.75em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: relative;
    overflow: hidden;
    transition: all ease 0.3s;
    /* z-index: 2; */
}

.feature-elem h2 {
    font-size: 4vw;
    font-family: 'neueHaas';
    font-weight: 500;
    z-index: 2;

}

.feature-elem .extra-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;
}

.extra-info h3 {
    font-size: 1em;
    font-family: 'neueHaas-light';
    /* font-weight: 600; */
}

.extra-info p {
    font-size: 0.8rem;
    font-family: 'neueHaas-light'
}

.feature-elem-bg {
    width: 100%;
    height: 100%;
    background-color: #ff9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
    /* z-index: -1; */

}

.feature-elem:hover .feature-elem-bg {
    top: 0;
}

.fixed-image {
    width: 24vw;
    height: 30vw;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 24%;
    display: none;
    background-position: center;
    background-size: cover;
}

.next-proj {
    margin: 3vw;
    /* white-space: nowrap; */
    padding: 5px 20px;
    border: 0.5px solid rgba(66, 66, 66, 0.578);
    width: 170px;
    border-radius: 100vw;
    display: flex;
    gap: 10px;
    position: relative;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0;
}

.next-proj h4 {
    font-family: 'neueHaas-light';
    font-size: 18px;
    font-weight: 50;
    display: inline-block;
    text-align: center;
    z-index: 9;
    position: relative;
}

.next-proj h4 a {
    text-decoration: none;
    color: #0b0500c9;
    z-index: 9;
    position: relative;

}



.next-proj img {
    z-index: 9;
    position: relative;
    width: 25px;
}

.next-proj::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #e77a31;
    position: absolute;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    /* z-index: -1; */
    transition: all ease 0.4s;
}

.next-proj:hover::after {
    bottom: 0;
    border-radius: 0;
}


.page-4 {
    min-height: 100vh;
    /* height: 100%; */
    width: 100%;
    background-color: rgb(238, 234, 226);
    padding: 3vw 2vw;
}

.des-pro-exe-wraper {
    max-width: 100%;
    height: 800px;
    background-color: #0b0500;
    /* margin: 8vw 2vw; */
    border-radius: 20px;
    display: flex;
}

.des-pro-exe-wraper .wraper-text {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 5vw 7vw;
    align-items: center;
    margin-top: 15vw;


}

.wraper-text .wraper-text-heading {
    display: flex;
    flex-direction: column;
    padding: 1vw 2vw;
    border-left: 2px solid rgba(61, 60, 60, 0.84);

}

.wraper-text .wraper-text-heading h1 {
    color: rgb(98, 98, 98);
    font-family: 'neueHaas';
    font-size: 3.5rem;
    line-height: 1em;
    cursor: pointer;
}


.wraper-img {
    width: 65%;
    height: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;

}

.wraper-text .wraper-text-heading-info {
    margin-top: 2vw;
    width: 300px;
}

.wraper-text .wraper-text-heading-info p {
    text-align: left;
    color: white;
    font-size: 13px;
}


.page-5 {
    min-height: 60vh;
    width: 100%;
    background-color: rgb(238, 234, 226)
}

.swiper-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0vw 0vw;
    padding-right: 0;
    font-family: 'neueHaas-light';
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 3vw;
}

.swiper-heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 2vw;
}

.swiper-heading-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FF390D;
}

.swiper-container h2 {
    font-size: 15px;
    font-weight: 200;
}

.swiper {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;

}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #a9a6a6;
}

.swiper-slide:first-child {
    margin-left: 4vw;

}

.swiper-content {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 1vw 2vw;
}

.swiper-content img {
    width: 150px;

}

.swiper-content p {
    width: 100%;
    font-weight: 550;
    line-height: 1.5em;
}

.page-6 {
    min-height: 90vh;
    width: 100%;
}



.footer {
    height: 700px;
    z-index: 9;
    background-color: #0b0500;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    /* margin-top: 100vh; */
    display: block;
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: visible;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer h1 {
    font-size: 22vw;
    color: white;
    font-family: 'neueHaas';
    text-align: center;
    padding: 0;
    border-bottom: 1px solid rgba(108, 107, 107, 0.822);
    margin: 0 2vw;
    margin-top: 4vw;
    line-height: 1em;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30vh;
    /* background-color: white; */
    font-family: 'neueHaas';
    color: white;
    margin: 0vw 1vw;
    padding: 0 4vw;
    position: relative;
    z-index: 10;
}

.w-s-c-container {
    width: 100px;
    margin: 3vw 4vw;
    font-size: 2rem;
    font-weight: 300;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 300px;
}

.footer-form p {
    font-family: 'neueHaas-light';
    font-size: 18px;
    font-weight: 100;
}

.footer-form .form {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(145, 145, 145);
    padding: 10px 3px;
    padding-right: 25px;
    position: relative;
    z-index: 10;
}

.footer-form .form input {
    background-color: transparent;
    border: none;
    color: rgb(206, 205, 205);
    font-size: 15px;

}


.footer-bottom {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'neueHaas-light';
    padding: 0 2vw;
}

.footer-bottom h4 {
    font-size: 15px;
    font-weight: 100;
}

.footer-bottom h4 a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.wave-container {
    width: 100%;
    height: 30vh;
    background-color: #FF390D;
    position: absolute;
    left: -5%;
    top: -30%;
    filter: blur(20px);

}

.left-wave {
    width: 100%;
    height: 40vh;
    background-color: #FF390D;
    /* transform: translateY(-50%); */
    transform: rotate(-10deg);
    filter: blur(20px);
    animation-name: wave-anim-left;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.right-wave {
    width: 100%;
    height: 50vh;
    background-color: #FF390D;
    /* transform: translateY(-50%); */
    transform: rotate(10deg);
    position: absolute;
    top: -5%;
    right: -13%;
    filter: blur(20px);
    animation-name: wave-anim-right;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes wave-anim-left {
    from {
        transform: rotate(-12deg);
    }

    to {
        transform: rotate(-7deg);
    }
}

@keyframes wave-anim-right {
    from {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(13deg);
    }
}

@media screen and (max-width:550px) {

    body {
        overflow-x: hidden;
    }

    .page-1 {
        padding: 0 5vw;
        width: 100vw;
        min-height: 100vh;
    }

    .navBar {
        padding: 8vw 0vw;
        margin-bottom: 0;

    }

    .navBar h3 {
        display: block;
        border: 0.5px solid #979595;
        z-index: 99;
        cursor: pointer;
        position: relative;
    }

    .navBar #logo {
        height: 9vh;
        transition: all ease 0.8s;
    }

    .navBar .navData {
        display: none;
    }

    .container {
        height: 40vh;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;


    }

    #left p {
        font-size: 5vw;
        width: 90vw;
        line-height: 1em;
    }

    #right h1 {
        font-size: 15vw;
        line-height: 3.5rem;
        text-align: right;

        margin: 4vw 0;
    }

    .video {
        height: 70vh;
        padding: 2vw 1vw;
    }

    .video video {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;

    }


    .animeContainer {
        width: 75vw;
        height: 30vh;
        right: 20vw;
        top: 50vh;
    }

    .animeEle {
        filter: blur(20px);
    }

    #animeEle1 {
        width: 100%;
        height: 100%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    #animeEle2 {
        width: 50vw;
        height: 50vw;
    }

    #animeEle3 {
        width: 50vw;
        height: 50w;
    }


    .page-2 {
        height: auto;
        width: 100vw;
        background-color: rgb(238, 234, 226);
        padding: 3vw 0;
        padding-bottom: 10vw;
        position: relative;
    }

    .info-container {
        display: flex;
        flex-direction: column;
    }

    .info-container .info-h1 {
        z-index: 3;
        width: 100%;
        /* max-width: 51.45em; */
        position: relative;
    }

    .info-container .info-h1 h1 {
        color: #0b0500;
        font-size: 6vw;
        font-weight: 500;
        line-height: 1;
        font-family: 'neueHaas';
    }

    .info-container .info-image {
        z-index: 5;
        width: 100%;
        max-width: 18em;
        grid-column-gap: 3em;
        grid-row-gap: 3em;
        flex-direction: column;
        margin-top: 5em;
        display: flex;
        position: relative;
    }

    .info-image img {
        border-radius: 5px;
    }

    .info-image p {

        font-family: 'neueHaas-light';
        font-size: 16px;
    }

    .goal-anime {
        /* width: 28vw;
        height: 28vw; */
        border-radius: 50%;
        position: absolute;
        /* right: 50px; */
        top: 30%;
        left: 30%;

    }



    .page-3 {
        width: 100vw;
        height: auto;
    }

    .feature-heading {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .feature-heading .heading-dot {
        width: 6px;
        height: 6px;
    }

    .feature-heading h2 {
        display: inline-block;
        font-size: 10px;
        font-weight: lighter;
        font-family: 'neueHaas-light';
    }

    .feature-elem .extra-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 2;
    }

    .extra-info h3 {
        font-size: 0.8em;
        font-family: 'neueHaas-light';
        font-weight: 300;
    }

    .extra-info p {
        font-size: 0.6rem;
        font-family: 'neueHaas-light';
        font-weight: 300;
    }




    .page-4 {
        width: 100vw;
        background-color: rgb(238, 234, 226);
        padding: 15vw 2vw;
    }

    .des-pro-exe-wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .des-pro-exe-wraper .wraper-text {
        gap: 20px;
        width: 100%;
    }

    .wraper-text .wraper-text-heading {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 18vw;

    }

    .wraper-text .wraper-text-heading h1 {
        font-size: 2.5rem;
    }


    .wraper-img {
        width: 100%;
border-radius: 15px;
    }

    .wraper-text .wraper-text-heading-info {
        margin-top: 2vw;
        padding: 0 8vw;
        width: 100%;
    }

    .wraper-text .wraper-text-heading-info p {
        font-size: 16px;
        font-family: 'neueHaas-light';
    }



    .page-5 {
        min-height: 60vh;
        width: 100%;
    }

    .swiper-container {
        width: 100%;
        height: 40vh;
    }

    .swiper-heading-dot {
        width: 6px;
        height: 6px;
    }

    .swiper-container h2 {
        font-size: 12px;
    }

    .swiper-slide {
        width: 70%;
        border-left: 1px solid #a9a6a6;
    }


    
.page-6 {
    min-height: 60vh;
    width: 100%;
}



.footer {
    height: 50vh;
}

.footer h1 {
    font-size: 20vw;
}

.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.w-s-c-container {
    width: 100%;
    margin: 0vw 2vw;
    margin-bottom: 5vw;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.footer-form p {
    font-family: 'neueHaas-light';
    font-size: 18px;
    font-weight: 100;
}

.footer-form .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(145, 145, 145);
    padding: 10px 3px;
    padding-right: 25px;
    position: relative;
    z-index: 10;
}

.footer-form .form input {
    background-color: transparent;
    border: none;
    color: rgb(206, 205, 205);
    font-size: 15px;

}


.footer-bottom {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'neueHaas-light';
    padding: 0 2vw;
}

.footer-bottom h4 {
    font-size: 12px;
    font-weight: 100;
}

.footer-bottom h4 a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.wave-container {
    width: 100%;
    height: 20vh;
    background-color: #FF390D;
    position: absolute;
    left: -5%;
    top: -30%;
    filter: blur(20px);

}

.left-wave {
    width: 100%;
    height: 20vh;
    background-color: #FF390D;
}

.right-wave {
    width: 100%;
    height: 30vh;
    background-color: #FF390D;
}

@keyframes wave-anim-left {
    from {
        transform: rotate(-30deg);
    }

    to {
        transform: rotate(-4deg);
    }
}

@keyframes wave-anim-right {
    from {
        transform: rotate(2deg);
    }

    to {
        transform: rotate(18deg);
    }
}



}